name: Global-APK-Build
on: [push, workflow_dispatch]
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install dependencies
        run: |
          pip install --upgrade buildozer cython virtualenv
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
      - name: Build with Buildozer
        run: |
          yes | buildozer android debug
      - uses: actions/upload-artifact@v4
        with:
          name: My-App
          path: bin/*.apk
