name: Build-APK
on: [push, workflow_dispatch]
jobs:
  android-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Buildozer
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          buildozer_version: master
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: My-Final-App
          path: bin/*.apk
